{{#each this}}

  <h2 class='title'>{{name}}</h2>
  <div class='card'>
    <div class='card-desc'>
      <div>
        <p class='card-p'>Capital:<span class='capital'>{{capital}}</span></p>
        <p class='card-p'>Population:{{population}}</p>
        <p class='card-p'>Languages:</p>
        <ul class='lang__list'>
          {{#each languages}}
            <li class='lang__item'>{{name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <img src='{{flag}}' alt='{{name}}' width='350px' height='270px' />
  </div>

{{/each}}